doctype html
html
	head
		title GitHub Repo
		link(href='/css/main.css' rel='stylesheet' type='text/css')
		script(src='/routers/index.js' type='text/javascript' async)
	body
		form#form
			input#clientName
			button#btn Submit
		div#respones

		script#error(type="text/template")
			h1 %Error%
		script#tamplate(type="text/template")
			h1 %Name%
			img(src = '%src%')
			ul Repo
				li %repo%
					span %description%


